<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>【i微学】</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" href="__PUBLIC__/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="imicrolearn" />
  <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css"/>
  <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
    <link href='http://fonts.useso.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="__PUBLIC__/css/templatemo-style.css">
    <link rel="stylesheet" href="__PUBLIC__/css/imicrolearn.css">
</head>
<body>
<include file="Public:header" />
  <div id ="cleannav"class="clearfix"></div>
  <hr>
<!-- ---------------------------------------------------------------------------------------- -->
<div class="container-fluid">
<block name="title">
</block>
<div class="container">
<block name="sidebar">
<div class="am-cf admin-main">
  <!-- sidebar start -->
<include file="Public:sidebar" />
  <div class="admin-content">
<block name="main"></block>
</div>
</div>
</block>
</div></div>
<hr>
<!-- ---------------------------------------------------------------------------------------- -->
<include file="Public:footer" />

<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/js/polyfill/rem.min.js"></script>
<script src="__PUBLIC__/js/polyfill/respond.min.js"></script>
<script src="__PUBLIC__/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/js/app.js"></script>
<script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/wow.min.js"></script>
    <script src="__PUBLIC__/js/jquery.singlePageNav.min.js"></script>
    <script src="__PUBLIC__/js/custom.js"></script>
</body>
</html>

<script>
   $('#jz').on('click', function() {
    progress.done(true);
  });


</script>