<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="stylesheet" href="__PUBLIC__/css/animate.min.css">
		<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
		<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="__PUBLIC__/css/templatemo-style.css">
		<link rel="stylesheet" href="__PUBLIC__/css/imicrolearn.css">
		<link rel="shortcut icon" href="__PUBLIC__/favicon.ico">
		<block name="title"><title>【i微学】一点一滴轻松学</title></block>
	</head>
	<body>
		<include file="Public:header" />
		<div id ="cleannav"class="clearfix"></div>
		<block name="left"></block>
		<block name="main"></block>
		<block name="right"></block>
		<div class="clearfix"></div>
		<block name="footer" ><include file="Public:footer" /></block>
		<script src="__PUBLIC__/js/jquery.js"></script>
		<script src="__PUBLIC__/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/js/wow.min.js"></script>
		<script src="__PUBLIC__/js/jquery.singlePageNav.min.js"></script>
		<script src="__PUBLIC__/js/custom.js"></script>
	</body>
</html>
