<extend name="./abase"/>

<block name="main">


  <!-- content start -->

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>常用模块</small></div>
    </div>

    <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
      <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br/>用户管理<br/>数量</a></li>
      <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br/>管理员列表<br/>308</a></li>
      <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>经验管理<br/>80082</a></li>
      <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br/>教程管理<br/>3000</a></li>
    </ul>

    <div class="am-g">
      <div class="am-u-sm-12">
        <table class="am-table am-table-bd am-table-striped admin-content-table am-table-hover">
          <thead>
  
          <tr>
            <th>登录记录：</th><th>管理员</th><th>登录时间</th><th>离开时间</th>
          </tr>
          </thead>
          <tbody>
          <tr><td>1</td><td>John Clark</td><td><span class="am-badge am-badge-warning">2015-6-8</span></td> <td><span class="am-badge am-badge-success">2015-6-8</span></td>
   
          </tr>
         </tbody>
         </table>
  <!-- content end -->
</div>
</div>


</block>