<extend name="./abase"/>
<block name="header"></block>


<block name="main">
<div id="login_page"> 
  <!-- Login page -->
  <div id="login">
    <div class="row-fluid fluid">
      <div class="span5"> <img src="__PUBLIC__/imlogo.png" /> </div>
      <div class="span7">
        <div class="title">
          <span class="name">i微学</span>
          <span class="subtitle">imicrolearn.com</span>
        </div>
        <form class="form-search row-fluid "  action="./admin/index/adminlogin" method="post">
          <div class="input-append row-fluid fluid">
            
			用户名<input type="text" name="name" placeholder="用户名" required><br>
			<div id="adminpwd"></div>
      密码<input   type="text" name="pwd" placeholder="密码"  required><br>
			<input   type="submit" value="登录" >

            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End #login --> 
  <!-- <img src="img/ajax-loader.gif"> --> 
</div>
<!-- End #loading --> 

</block>
