<!DOCTYPE html>
<html class="no-js login" lang="zh-CN">
<head>
<meta charset="utf-8">
<title>i微学后台管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="__PUBLIC__/favicon.ico">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
	<body>

		<block name="header"><include file="Public:header" /></block>
		<div id ="cleannav"class="clearfix"></div>
	   <div class="container">
  	<block name="left"></block>
		<block name="main"></block>
		<block name="right"></block>
    </div>
		<div class="clearfix"></div>
		<include file="Public:footer" />
		

	</body>
</html>