<extend name='./base'/>
<block name="main">
			<div class="container-fluid">

				<div id="coursetitle" class="row">
				<div class="container">
				<br>	
				<volist name="onecourse" id="v"  offset="0" length='1' empty="暂时没有数据">
					<div class="col-md-9 wow fadeIn" data-wow-delay="0.2s">
				
					<h2 class="text-uppercase">{$v.cname}</h2>
					<p>{$v.ctitle}</p>
					
					</div>
					<div class="col-md-3 wow fadeIn center-block" data-wow-delay="0.2s">
							
					<a href="../course/typecourse?id={$v.typeid}"><button type="button" class="btn btn-success btn-lg btn-block">{$v.typename}</button></a>
					<br>
					
					<button type="button" class="btn btn-warning btn-lg btn-block">收录</button>
					</div>
					</volist>
				</div>
				<br>
				</div>
				<div class="container">
					<div class="row">
					<div class="col-md-9 wow fadeIn" data-wow-delay="0.2s">
				<volist name="onecourse" id="vo" empty="暂时没有数据">
					
						
						<div id="stepid" class="text-center"><h1 >{$vo.stepid}</h1></div>
						
					<div id="scontent" class="panel panel-info">	
				
					<img src="__PUBLIC__/images/courseimg/stepimg/{$vo.stepimg}.jpg"  class="img-responsive" alt="Responsive image">
			
						<p>{$vo.scontent}</p>	
						</div>
					
				</volist>
				</div>
					<div  class="col-md-3 hidden-xs	 wow fadeIn center-block " data-wow-delay="0.2s">
					<br><br>
						<ul class="list-group ">
						<volist name="coursename" id="cn"  offset="0" length='5' empty="暂时没有数据">
 					<a href="../course/showonecourse?id={$cn.cid}" class="list-group-item list-group-item-info">
 					<!-- <span class="badge">点击量</span> -->
 					 <h5 class="list-group-item-heading">{$cn.cname}
					</h5>
    				<p class="list-group-item-text">{$cn.ctitle}</p>
 					
 					</a>
  						</volist>
						</ul>


					</div>

				</div>
				</div>

			</div>
<hr><br>
</block>